*{
    margin: 0; padding: 0; box-sizing: border-box;
}
#wrap{
    width: 1000px;
    margin: 0 auto;
    position: relative;
    height: 300px;

}
.earth{
    background: url(../image/푸른지구.jpeg) no-repeat center;
    height: 300px;
    margin-top: 50px;
}
.item1{
    width: 60px;
    height: 20px;
    display:inline-block;
    border-radius: 10px;
    background-color: aqua;
}
.item:nth-child(1){
    background-color: blue;
}
.item:nth-child(2){
    background-color: skyblue;
}


